
body{
    margin: 0px;
    background-color:#ccc;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: relative;
    width: 100%;
    z-index: 3;
}
.box100pt{
    float: left;
    width: 100%;
}
.bgblack{
    background-color: black;
    min-height: 50px;
}
.bgwhite{
    background-color: white;
    min-height: 90px;
}
.boxcenter{
    width: 1180px;
    margin: 0px auto;
}
.headerleft a{
    float: left;
    line-height: 50px;
    color: white;
    padding: 0px 50px;
    text-decoration: none;
    font-size: 18px;
}
.headerright a{
    float: right;
    line-height: 50px;
    color: white;
    padding: 0px 50px;
    text-decoration: none;
    font-size: 18px;
}
.headerleft a:hover{
    color: brown;
}
.headerright a:hover{
    background-color: plum;
    color: brown;
}
.logo img{
    float: left;
    margin: 0px 200px 0px 120px;
    height: 90px;
    width: 200px;
}
.topmenu a{
    float: left;
    margin: 0px 30px 0px 0px;
    line-height: 90px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.duannoithat {
    margin-bottom: 20px;
}
.tieude {
    padding: 20px 0;
}
.topmenu a:hover{
    color:red;
}
.banner img{
    width: 100%;
    height: 500px;
}
.ten{
    color: green;
    text-align: center;
    font-size: 24px;
}
.column{
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
}
.column img{
    width: 100%;
    height: 250px;
}
.clearfix, .clearfix::after, .clearfix::before {
    content: "";
    display: block;
    clear: both;
}
.tenduan{
    width: 100%;
    float: left;
    margin: 0px;
    color:black;
    text-align: center;
    font-size: 24px;
    background-color:plum;

}

.column2{
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
}
.column2 img{
    width: 100%;
    height: 150px;
}
.thicong{
    width: 50%;
    color: green;
    font-size: 20px;
    position: relative;
    margin: 0px;
    padding: 10px 0px;
    font-weight: bold;
    text-align: center;
}
.thongtin1{
    float: left;
    margin: 10px 10px 10px 100px;
    min-height: auto;
}
p{
    width: 40%;
    float: left;
    position: relative;
    text-align: left;
    margin: 50px 10px 10px 100px;
    height: 200px;
    min-height: auto;
    line-height: 2;
}
.anh{
    width: 50%;
    float: right;
    margin: 0px;
    margin: 10px 10px 10px 10px;
}
.anh img{
    width: 100%;
    height: 300px;
    text-align: center;
}
.thicong2{
    width: 50%;
    color: green;
    font-size: 20px;
    position: relative;
    margin: 0px;
    padding: 10px 0px;
    font-weight: bold;
    text-align: center;
}
i{
    width: 40%;
    float: right;
    position: relative;
    text-align: left;
    margin: 50px 10px 10px 100px;
    height: 200px;
    min-height: auto;
    line-height: 2;
}
.anh2{
    width: 50%;
    float: right;
    margin: 0px;
    margin: 10px 10px 10px 10px;
}
.anh2 img{
    width: 100%;
    height: 300px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.menubottom{
    margin: 0px;
    background-color: white;
    width: 100%;

}
.menubottom ul li{
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 30px;
    font-weight: bold ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menubottom ul li a{
    display: flex;
}
.menubottom ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    text-align: center;
}
.menubottom ul li a{
    text-decoration: none;
    font-variant: small-caps;
    color:blue;
    padding: 0px;
    line-height:40px;
}
.menubottom ul li{
    position: relative;
}
.menubottom ul ul{
    position: absolute;
    display: none;
}
.menubottom ul ul a{
    display: block;
}
.menubottom>ul>li:hover>ul{
    display: block;
}
.menubottom ul ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    box-shadow: 0 0 1px gray;
    background-color: cadetblue;
}
.menubottom ul ul a{
    line-height: 20px;
    color: black;
    text-decoration: none;
    font-variant: small-caps;
    font-size: large;
    padding: 0px;
    width: 100%x;
}
.menubottom ul ul a:hover{
    background-color: palegreen;
    color: white;
}
.trangcuoi{
    background-color: black;
    min-height: 300px;
}
.left{
    text-align: center;
    color: white;
    margin: 30px;
    font-size: 28px;
}
.right{
    color: yellow;
    text-align: center;
}